<div class="container-fluid login">
    <div class="login__card">
        {% form 'reset_customer_password' %}

        <div class="login__header">
            <h3 class="login__title">{{ 'customer.reset_password.title' | t }}</h3>
            <p class="login__subtitle">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
        </div>

        {{ form.errors | default_errors }}

        <div class="login__col">
        <input type="password"
               name="customer[password]"
               id="ResetPassword"
               class="{% if form.errors contains 'password' %}input--error{% endif %} input"
               placeholder="{{ 'customer.reset_password.password' | t }}">
        </div>
        <div class="login__col">
        <input type="password"
               name="customer[password_confirmation]"
               id="PasswordConfirmation"
               class="{% if form.errors contains 'password_confirmation' %}input--error{% endif %} input"
               placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
        </div>

        <input type="submit" class="btn btn--full" value="{{ 'customer.reset_password.submit' | t }}">
        {% endform %}
    </div>
</div>