<section class="text-banner">
    <div class="container-fluid">
        <div class="text-banner__inner" style="background-image: url({{ section.settings.image  | img_url:'master' }})">
            <div class="text-banner__text">
                <h2 class="text-banner__title">{{ section.settings.title }}</h2>
                {% if section.settings.subtitle %}
                    <p class="text-banner__subtitle">{{ section.settings.subtitle }}</p>
                {% endif %}
                {% if section.settings.btn_text %}
                    <a class="transparent-btn transparent-btn--black" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Simple Banner",
    "settings": [{
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },{
        "type": "text",
        "id": "title",
        "label": "Title",
        "default":"About Lavishe"
    },{
        "type": "text",
        "id": "subtitle",
        "label": "Button Text",
        "default":"We sell cutting-edge fashion and offer a wide variety of fashion-related content, making Lavishe Wear the hub of a thriving fashion community."
    },{
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default":"Read More"
    },{
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
    }],
    "presets": [
        {
            "name": "Simple Banner",
            "category": "Homepage"
        }
    ]
}
{% endschema %}